.wminc-infopage-title {
	padding: 0.3em 0;
	font-size: 145%;
	font-weight: bold;
}

.wminc-infopage-entertest {
	margin-left: 1em;
}

.noarticletext,
.mw-warning-with-logexcerpt,
.firstHeading {
	display: none;
}

.wminc-infopage {
	font-size: 125%;
	font-family: 'Lucida Sans', 'Verdana', sans-serif;
	padding: 0.6em;
	margin: 0.5em 0;
}

.wminc-infopage p,
.wminc-infopage li {
	padding: 0.2em 0 0.3em;
}

.wminc-infopage-welcome {
	font-style: italic;
}

ul.wminc-infopage-otherprojects,
ul.wminc-infopage-multilingualprojects {
	list-style: none;
}

.wminc-infopage-otherprojects li,
.wminc-infopage-multilingualprojects li {
	display: inline;
	padding: 0.5em;
}

.wminc-infopage-text {
	font-size: 125%;
}

.wminc-infopage-options {
	padding: 0.2em;
}

.wminc-infopage-logo {
	float: right;
}

.wminc-infopage-createmainpage {
	margin-left: 0.5em;
	font-weight: bold;
}

.wminc-infopage-status {
	margin: 1em;
}

span.subpages {
	display: none !important;
}
